# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod

# Executables
*.exe
*.out
*.app

# Other files
*.log
*.tlog
*.exp
*.ilk
*.idb
*.pdb
*.ipch

/.vs

Debug/Game1.lib
Debug/Engine.lib
Debug/Arkanoid.lib
Debug/TestSDLwindow.lib

Game1/Debug
Engine/Debug
Arkanoid/Debug
TestSDLwindow/Debug

Game1/x64/Debug
Engine/x64/Debug
Arkanoid/x64/Debug
TestSDLwindow/x64/Debug

Game1/Release
Engine/Release
Arkanoid/Release
TestSDLwindow/Release

Game1/x64/Release
Engine/x64/Release
Arkanoid/x64/Release
TestSDLwindow/x64/Release

